<html xmlns="http://www.w3.org/1999/xhtml">
<style>
   @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);


@font-face {
    font-family: 'EBSHunminjeongeumSBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHunminjeongeum.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}
</style>

   <div class="footer" style="font-family: 'EBSHunminjeongeumSBA', sans-serif;">
      <footer class="py-3 my-4">
         <p class="text-center text-muted">
            짧링은 구글의 리캡챠로부터 보호받고 있습니다.<br/><a class="text-muted" href="https://policies.google.com/privacy">개인정보보호정책</a>  <a class="text-muted" href="https://policies.google.com/terms">이용약관</a>
         </p>
         <hr/>
         <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="https://github.com/PENEKhun/shortUrl" class="nav-link px-2 text-muted">오픈소스</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">개인정보처리방침</a></li>
         </ul>
         <p class="text-center text-muted">Developed By PENEK, hun</p>
      </footer>
   </div>
</html>